<header>
  <p class="home"><%= link_to "Home", root_path %></p>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <p class="authenticated">Hello <%= current_user.username %></p>
    <p class="logout"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p class="sign-in"><%= link_to('Login', new_user_session_path) %></p>
    <p class="sign-up"><%= link_to('Register', new_user_registration_path) %></p>
  <% end %>
</header>