<h1>New Car</h1>

<% if @car.errors %>
  <% @car.errors.messages.each do |error| %>
  <p><strong>Errors</strong>: <%= error %></p>
  <% end %>
<% end %>

<%= form_for(@car) do |f| %>
  <%= f.label(:year) %>
  <%= f.number_field(:year) %>
  <br />
  <%= f.label(:make) %>
  <%= f.text_field(:make) %>
  <br />
  <%= f.label(:model) %>
  <%= f.text_field(:model) %>
  <br />
  <%= f.label(:coolness_value) %>
  <%= f.number_field(:coolness_value) %>
  <br />
  <%= f.label(:horsepower) %>
  <%= f.number_field(:horsepower) %>
  <br />
  <%= f.label(:torque) %>
  <%= f.number_field(:torque) %>
  <br />
  <%= f.label(:weight) %>
  <%= f.number_field(:weight) %>
  <br />
  <%= f.label(:photo_url) %>
  <%= f.text_field(:photo_url) %>
  <br />
  <%= f.submit %>
<% end %>
