<h1><%= current_user.username %>'s Garage</h1>
email: <%= current_user.email %>
<br>
garage capacity: <%= current_user.garage.capacity %>
<br>

<h2>Actions</h2>
<ul>
  <li><%= link_to 'â• Add a new car!', profile_add_car_url %></li>
  <li><%= link_to 'âœŠ Challenge an opponent', profile_challenge_url %></li>
</ul>

<h2>Cars:</h2>
<%= render partial: 'shared/car_table', locals: { cars: @owned_cars } %>
