<h1><%= current_user.username %>'s Garage</h1>
email: <%= current_user.email %>
<br>
garage capacity: <%= current_user.garage.capacity %>
<br>

<%= link_to 'Add a new car!', profile_add_car_url %>

<h2>Cars:</h2>
<%= render partial: 'shared/car_table', locals: { cars: @owned_cars } %>
